@page
@model CustomerManagementSystem.Pages.Company.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tbl_company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">会社名</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_company.company_name)
        </dd>
        <dt class="col-sm-2">会社名カナ</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_company.company_kana)
        </dd>
        <dt class="col-sm-2">削除フラグ</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_company.delete_flag)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tbl_company?.Id">編集</a> |
    <a asp-page="./Index">リストに戻る</a>
</div>
