html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

div.container {
    background-color: lightcyan;
}

header {
    background-color: lightgray;
    height: 100px;
}

footer {
    background-color: lightblue
}
body {
  margin-bottom: 60px;
  background-color:aquamarine
}

article {
    background-color: lightpink;
    width: 620px;
    float: left; /*←aside（サイドバー）はfloat:rightで右寄せに。*/
}
aside {
    background-color: lightyellow;
    float: right;  /*←aside（サイドバー）はfloat:rightで右寄せに。*/
}

table 
{
    background-color: palegreen;
}

    table thead {
        background-color: yellow;
    }

table tr:nth-child(odd) td {
    background-color: lightblue;
}

table tr:nth-child(even) td {
    background-color: lightyellow;
}



