@charset "UTF-8"
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

div.container {
    background-color: lightcyan;
}

header {
    background-color: lightgray;
    height: 100px;
}

footer {
    background-color: lightblue
}

body {
  margin-bottom: 60px;
  background-color:aquamarine
}

article {
    background-color: lightpink;
    float: left; 
}

aside {
    background-color: lightyellow;
    float: right;
}

table 
{
    background-color: green;
    border: 1;
}

table thead {
    background-color: yellow;
}

table tr:nth-child(odd) td {
    background-color: lightblue;
}

table tr:nth-child(even) td {
    background-color: lightyellow;
}

.col-sm-2 {
    width: 250px;
    background-color: tan;
    color: brown;
}

.col-sm-10 {
    width:800px;
    background-color: lightgoldenrodyellow;
}



