@page
@model IndexModel
@{
    ViewData["Title"] = "ホームページ";
}

<div class="text-center">
    <h1 class="display-4">顧客対応管理システム</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-page="./Customer">顧客リスト</a>
    <a asp-page="./Company">得意先リスト</a>
    <a asp-page="./">アクションリスト</a>

    顧客リスト
    
    アクションリスト
</div>
