@page
@model CustomerManagementSystem.Pages.Action.EditModel

@{
    ViewData["Title"] = "営業報告（編集）";
}

<h1>営業報告（編集）</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <table>
                <tr>
                    <td>ID</td>
                    <td>
                        <input type="hidden" asp-for="tbl_action.Id" />
                        @Html.DisplayFor(model => model.tbl_action.Id)
                    </td>
                </tr>
                <tr>
                    <td>顧客名</td>
                    <td>
                        <input type="hidden" asp-for="tbl_action.customerId" />
                        @Html.DisplayFor(model => model.tbl_customer.customer_name)
                    </td>
                </tr>
                <tr>
                    <td>会社名</td>
                    <td>@Html.DisplayFor(model => model.tbl_company.company_name)</td>
                </tr>
                <tr>
                    <td>日付</td>
                    <td>
                        <input asp-for="tbl_action.action_date" class="form-control" />
                        <span asp-validation-for="tbl_action.action_date" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>内容</td>
                    <td>
                        <input asp-for="tbl_action.action_content" class="form-control" />
                        <span asp-validation-for="tbl_action.action_content" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>対応者</td>

                    <td>                
                        <select asp-for="tbl_action.action_staffId" asp-items="@Model.StaffSL"></select>
                        <span asp-validation-for="tbl_action.action_staffId" class="text-danger"></span>
                    </td>
                </tr>
            </table>
            
            @* ************* テキストの画面例にはあるが，actionに対するdelete_flag定義はない。 
            <input type="checkbox" asp-for="tbl_action.delete_flag" id="action_delete_flag" />
            <label for="customer_delete_flag">データを削除する場合には，チェックしてから[登録]ボタンをクリックする</label>
            *@

            <div class="form-group">
                <input type="submit" name="action_button" value="登録" class="btn btn-primary" />
                <input type="submit" name="action_button" value="キャンセル" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
