@page
@model CustomerManagementSystem.Pages.Action.EditModel

@{
    ViewData["Title"] = "編集";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tbl_action.Id" />
            <div class="form-group">
                <label>ID</label>
                <input asp-for="tbl_action.customerId" class="form-control" />
                <span asp-validation-for="tbl_action.customerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>顧客ID</label>
                <input asp-for="tbl_action.customerId" class="form-control" />
                <span asp-validation-for="tbl_action.customerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>日付</label>
                <input asp-for="tbl_action.action_date" class="form-control" />
                <span asp-validation-for="tbl_action.action_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>対応内容</label>
                <input asp-for="tbl_action.action_content" class="form-control" />
                <span asp-validation-for="tbl_action.action_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>営業担当者ID</label>
                <input asp-for="tbl_action.action_staffId" class="form-control" />
                <span asp-validation-for="tbl_action.action_staffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">一覧に戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
