@page
@model CustomerManagementSystem.Pages.Action.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tbl_action</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="tbl_action.Id" />
            <div class="form-group">
                <label asp-for="tbl_action.customerId" class="control-label"></label>
                <input asp-for="tbl_action.customerId" class="form-control" />
                <span asp-validation-for="tbl_action.customerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tbl_action.action_date" class="control-label"></label>
                <input asp-for="tbl_action.action_date" class="form-control" />
                <span asp-validation-for="tbl_action.action_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tbl_action.action_content" class="control-label"></label>
                <input asp-for="tbl_action.action_content" class="form-control" />
                <span asp-validation-for="tbl_action.action_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tbl_action.action_staffId" class="control-label"></label>
                <input asp-for="tbl_action.action_staffId" class="form-control" />
                <span asp-validation-for="tbl_action.action_staffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
